<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <p class="par">About Us</p>
        <p class="par2">WHO AM I</p>
        <p><span class="par3">Hi Im Jackson Ford</span>On her way she met a copy. The copy warned the Little Blind Text,
            that where it came from it <br>
            would have been rewritten a thousand times and everything that was left from its origin would be the word
            (and)<br> and the Little Blind Text should turn around and return to its own, safe country.<br><br><br>

            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
            day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
            Grammar.<span></span></p>
    </div>
    <div class="row main">
        <div class="col-lg-2 col-md-12 about-div1"><i class="fa-regular fa-lightbulb"></i><p>Graphic Design</p></div>
        <div class="col-lg-2 col-md-12 about-div2"><i class="fa fa-globe" aria-hidden="true"></i><p>Web Design</p></div>
        <div class="col-lg-2 col-md-12 about-div3"><i class="fa fa-database" aria-hidden="true"></i><p>Software</p></div>
        <div class="col-lg-2 col-md-12 about-div4"><i class="fa fa-mobile" aria-hidden="true"></i><p>Application</p></div>
    </div>
</body>

</html>