<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container title">
    <p class="exp">EXPERIENCE</p>
    <p class="exp2">WORK EXPERIENCE</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="wrapper col-2">
                <div class="content">
                    <p class="pen1"><i class="fa-solid fa-pen"></i></p>
                    <p class="pen2"><i class="fa-solid fa-pen"></i></p>
                    <p class="pen3"><i class="fa-solid fa-pen"></i></p>
                </div>
            </div>

            <div class="col-10">
                <div class="par1">
                    <span class="title1">Full Stack Developer</span><span class="title2">2017-2018</span>
                    <p class="main-par">
                        Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how
                        <br>
                        cordial two promise. Greatly who affixed suppose but enquire compact prepare all put.<br>
                        Added forth chief trees but rooms think may.
                    </p>
                </div>
                <div class="par2">
                    <span class="title1">Full Stack Developer</span><span class="title2">2017-2018</span>
                    <p class="main-par">
                        Even the all-powerful Pointing has no control about the blind texts it is an
                        almostunorthographic<br>
                        life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for
                        <br>
                        thefar World of Grammar.
                    </p>
                </div>
                <div class="par3">
                    <span class="title1">Full Stack Developer</span><span class="title2">2017-2018</span>
                    <p class="main-par">
                        Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic
                        <br>
                        life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for
                        <br>
                        the
                        far World of
                        Grammar.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>