.title {
    margin-top: 50px;
}

.exp {
    color: gray;
    letter-spacing: 2px;
}

.exp2 {
    letter-spacing: 4px;
    color: black;
    font-weight: bold;
}

.par1 {
    height: max-content;
    background-color: rgb(240, 238, 238);
    margin-top: 20px;
    width: 90%;
}

.par2 {
    height: max-content;
    background-color: rgb(240, 238, 238);
    margin-top: 20px;
    width: 90%;
}

.par3 {
    height: max-content;
    background-color: rgb(240, 238, 238);
    margin-top: 20px;
    width: 90%;

}

.title1 {
    display: inline-block;
    margin: 30px 10px 0px 30px;
    font-size: 25px;
    font-weight: bold;
}

.main-par {
    display: block;
    margin: 30px 0px 0px 30px;
    padding-bottom: 40px;
    padding-right: 50px;
}


.content {
    display: flex;
    flex-direction: column;
    /* يخليهم تحت بعض */
    align-items: center;
    position: relative;
    margin: 50px;
}

/* الخط العمودي ورا الأقلام */
.content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    /* يخلي الخط في النص */
    width: 1px;
    background: #8f8f8f;
    transform: translateX(-50%);
    z-index: 0;
    /* الخط يروح ورا */
}

/* الأقلام */

.pen1 {
    background-color: rgb(87, 154, 255);
    width: 60px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    /* يخليهم فوق الخط */

}

.pen2 {
    background-color: rgb(128, 0, 32);
    width: 60px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 200px;
    z-index: 1;
}

.pen3 {
    background-color: rgb(255, 165, 0);
    width: 60px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 200px;
    z-index: 1;
}