<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxs</title>
</head>

<body>
    <div class=" contianer titles">
        <span class="span_1">MY WORK</span>
        <span class="span_2">RECENT WORK</span>
    </div>
    <div class="nav">
        <a routerLink="graphic" routerLinkActive="active">Graphic design</a>
        <a routerLink="apps" routerLinkActive="active">Apps</a>
        <a routerLink="software" routerLinkActive="active">Software</a>
    </div>
    <div class="contianer">
        <div class="row">
            <div class="wrapper col-lg-12">
                <div class="box-container">
                    <div class="box1 col-lg-6 col-12">
                        <img src="assets/image3.jpg" alt="Image 3">
                        <div class="box2">
                            <div class="content">
                                <p class="par">Work 1</p>
                                <p class="par1">Animation</p>
                            </div>
                            <div class="reacts">
                                <span class="react"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                <span class="react"><i class="fa fa-eye" aria-hidden="true"></i><span>100</span></span>
                                <span class="react"><i class="fa fa-heart" aria-hidden="true"></i><span>51</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="box1 col-lg-6 col-12">
                        <img src="assets/image4.jpg" alt="Image 3">
                        <div class="box2">
                            <div class="content">
                                <p class="par">Work 1</p>
                                <p class="par1">Animation</p>
                            </div>
                            <div class="reacts">
                                <span class="react"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                <span class="react"><i class="fa fa-eye" aria-hidden="true"></i><span>100</span></span>
                                <span class="react"><i class="fa fa-heart" aria-hidden="true"></i><span>51</span></span>
                            </div>
                        </div>
                    </div>

                    <div class="box1 col-lg-6 col-12">
                        <img src="assets/image5.jpg" alt="Image 4">
                        <div class="box2">
                            <div class="content">
                                <p class="par">Work 2</p>
                                <p class="par1">Animation</p>
                            </div>
                            <div class="reacts">
                                <span class="react"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                <span class="react"><i class="fa fa-eye" aria-hidden="true"></i><span>100</span></span>
                                <span class="react"><i class="fa fa-heart" aria-hidden="true"></i><span>51</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="box1 col-lg-6 col-12">
                        <img src="../../assets/image6.jpg" alt="Image 5">
                        <div class="box2">
                            <div class="content">
                                <p class="par">Work 3</p>
                                <p class="par1">Animation</p>
                            </div>
                            <div class="reacts">
                                <span class="react"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                <span class="react"><i class="fa fa-eye" aria-hidden="true"></i><span>100</span></span>
                                <span class="react"><i class="fa fa-heart" aria-hidden="true"></i><span>51</span></span>
                            </div>
                        </div>
                    </div>
                        <div class="box1 col-lg-6 col-12" *ngIf="prop==true">

                            <img src="../../assets/image8.jpg" alt="Image 5">
                            <div class="box2">
                                <div class="content">
                                    <p class="par">Work 3</p>
                                    <p class="par1">Animation</p>
                                </div>
                                <div class="reacts">
                                    <span class="react"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                    <span class="react"><i class="fa fa-eye"
                                            aria-hidden="true"></i><span>100</span></span>
                                    <span class="react"><i class="fa fa-heart"
                                            aria-hidden="true"></i><span>51</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="box1 col-lg-6 col-12" *ngIf="prop==true">
                            <img src="../../assets/image7.jpg" alt="Image 5">
                            <div class="box2">
                                <div class="content">
                                    <p class="par">Work 3</p>
                                    <p class="par1">Animation</p>
                                </div>
                                <div class="reacts">
                                    <span class="react"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                    <span class="react"><i class="fa fa-eye"
                                            aria-hidden="true"></i><span>100</span></span>
                                    <span class="react"><i class="fa fa-heart"
                                            aria-hidden="true"></i><span>51</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn btn-primary mt-5" style="border-radius: 10px; margin-left: 100px;" *ngIf="prop==false" (click)="prop=true">Show more</div>

        </div>
</body>

</html>