<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hover Individual Box</title>
</head>

<body>
    <div class="wrapper">
        <div class="box-container">
            <!-- Box 1 -->
            <div class="box1">
                <img src="../../assets/image3.jpg" alt="Image 3">
                <div class="box2">
                    <p class="par">Work 1</p>
                    <p class="par">Animation</p>
                </div>
            </div>

            <!-- Box 2 -->
            <div class="box1">
                <img src="../../assets/image4.jpg" alt="Image 4">
                <div class="box2">
                    <p class="par">Work 2</p>
                    <p class="par">Animation</p>
                </div>
            </div>

            <!-- Box 3 -->
            <div class="box1">
                <img src="../../assets/image5.jpg" alt="Image 5">
                <div class="box2">
                    <p class="par">Work 3</p>
                    <p class="par">Animation</p>
                </div>
            </div>

            <!-- Box 4 -->
            <div class="box1">
                <img src="../../assets/image6.jpg" alt="Image 6">
                <div class="box2">
                    <p class="par">Work 4</p>
                    <p class="par">Animation</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
