.bars {
  font-size: 28px;
  cursor: pointer;
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: none; 
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh;
  background: rgb(247, 244, 244);
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.close {
  font-size: 22px;
  text-align: right;
  cursor: pointer;
  color: white;
  display: none;
}

@media (min-width: 992px) {
  .bars {
    display: none;  
  }
  .sidebar {
    left: 0;        
  }
}

@media (max-width: 991px) {
  .bars {
    display: block;  
  }
  .close {
    display: block;  
  }
}
