<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Links</title>
</head>

<body>
    <div class="main">
        <img src="../../assets/person.jpg" class="perosn_img" alt="Profile Image">
        <h5>jackson ford</h5>
        <span class="job">UI&UX DESIGNER IN</span>
        <p>Philippines</p>
    </div>
    <div class="links">
        <span class="home">Home</span><br>
        <span class="about">About</span><br>
        <span class="skill">Skills</span><br>
        <span class="experience">Experience</span><br>
        <span class="work">Work</span><br>
    </div>
</body>

</html>